.skill {
  position: relative;
  flex: 0 1 auto;
  margin: 0.5rem;
  padding: 0rem;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.5);
  --saturation: 0;
  --luminance: 0.4;
}

.skill:before, .skill:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 15%, 15% 0, 100% 0, 100% 85%, 85% 100%, 0% 100%);
}

.skill:before {
  z-index: 2;
  background-image: linear-gradient(to bottom,
    hsl(var(--themeHue),calc(100% * var(--saturation)),calc(20% * var(--luminance))),
    hsl(var(--themeHue),calc(100% * var(--saturation)),calc(36% * var(--luminance)))
  );
  transform: scale(0.9);
}

.skill:after {
  z-index: 1;
  background-color: hsl(var(--themeHue),calc(100% * var(--saturation)),calc(65% * var(--luminance)));
}

.enabled {
  --saturation: 0.0;
  --luminance: 0.75;
  color: var(--whiteText);
}

.usable {
  --saturation: 0.91;
  --luminance: 1;
}

.skill:hover {
  --themeHue: 51;
  --saturation: 1;
  --luminance: 1.2;
  color: var(--whiteText);
}

.augment:before {
  transform: scale(0.7);
}
.augment:after {
  transform: scale(0.79);
}

.actionSkill:before, .actionSkill:after {
  clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}

.chevron:before, .chevron:after {
  clip-path: polygon(0 0, 50% 25%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  transform-origin: 50% 60%;
}

.diamond:before, .diamond:after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0 50%);
}

.augment, .actionSkill {
  margin: 0;
  padding: 0.5rem;
  height: 3.5em;
  width: 3.5em;
}

.augment {
  background-color: var(--themeColor);
}

.augment:first-child {
  position: absolute;
  right: 100%;
}
.augment:last-child {
  position: absolute;
  left: 100%;
}

.augment:only-child {
  position: relative;
  background-color: transparent;
  outline: none;
  left: initial;
  right: initial;
}

.image {
  position: relative;
  z-index: 3;
  mix-blend-mode: luminosity;
}
.image > img {
  width: 2.3em;
  opacity: 0.5;
}

.enabled .image > img, .skill:hover .image > img {
  opacity: 1;
}

.ranks {
  position: absolute;
  bottom: -0.25rem;
  right: -0.25rem;
  z-index: 4;
  font-size: 0.6em;
  font-style: italic;
  color: var(--whiteText);
  font-weight: bold;
  border: 0.15em solid;
  padding: 0.1em 0.3em 0.1em 0.15em;
  text-align: center;
  text-shadow: 0 0 0.5em black;
  border-radius: 0.4em 0.2em;
  background-color: hsl(var(--themeHue),calc(100% * var(--saturation)),calc(30% * var(--luminance)));
  border-color: hsl(var(--themeHue),calc(100% * var(--saturation)),calc(10% * var(--luminance)));
}
.usable .ranks {
  color: hsl(var(--themeHue),91%,80%);
}

.skillTitle {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.description {
  display: none;
  z-index: 10;
  text-align: left;
  font-size: 0.9rem;
  white-space: pre-line;
}

.effect {
  margin-top: 0.5em;
}

.skill:hover .description {
  pointer-events: none;
  font-size: 0.8em;
  background-color: hsl(0, 0%, 10%);
  color: var(--whiteText);
  border: 0.15rem solid black;
  padding: 0.5rem;
  display: block;
  position: absolute;
  bottom: 100%;
  width: 20rem;
  transform: translateX(calc((1 - var(--treeindex)) * 40%));
}

.actionSkill:hover .description {
  bottom: auto;
  top: 100%;
}
