:root {
  --radius: 2px;
  --whiteText: hsla(0,0%,100%,0.8);
  --blackText: hsla(0,0%,0%,0.8);
	--transition-duration: 300ms;
	--font-header: sans-serif;
  --font-list: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1.5vw;
}

@media screen and (min-width: 189vh) {
  :root {
    font-size: 2.835vh;
  }
}

* {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	position: relative;
  min-height: 100vh;
	color: #F8F8FA;
	font-family: var(--font-list);
  -webkit-font-smoothing: antialiased;
  background-color: #333;
  background-image: url('@assets/backgrounds/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
body > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
