.VaultHunter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trees, .tier {
  display: flex;
}

.treeName {
  text-align: center;
  color: white;
  order: 1;
  font-size: 1em;
  line-height: 1rem;
}

.tree {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(0deg, var(--themeColor), var(--themeColor));
  background-size: calc(3.5rem * 3) calc((25 - var(--invested)) / 5 * 3.5rem + 1rem), calc(3.5rem * 3) calc(100% - 1.5rem);
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center bottom;
}

.tier {
  width: calc(3.5rem * 5);
  justify-content: center;
  position: relative;
}

.blue {
  --themeColor: #007;
}
.red {
  --themeColor: #700;
}
.green {
  --themeColor: #070;
}
