.VaultHunter {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.header {
  display: flex;
  align-items: stretch;
  margin: 1rem auto;
}

.title {
  display: block;
  margin: 0 auto;
  top: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  color: hsl(51, 100%, 50%);
  line-height: 1;
}
.subtitle {
  text-transform: uppercase;
  font-size: 0.4em;
}

.sidepanel {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 6em;
}
.title, .level, .reset > a, .header > nav > a {
  background-color: black;
  padding: 0.5rem;
}
.level, .reset, .reset > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.reset {
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 0.8em;
}
.reset > a:hover {
  color: white;
  background-color: red;
}
.level:after {
  position: absolute;
  z-index: 1;
  width: 10em;
  top: 60%;
  text-shadow: 0 0 0.2em black;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  pointer-events: none;
  text-align: center;
}

.header > nav {
  display: flex;
  align-items: stretch;
}

.header > nav > a {
  margin-left: 0.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  color: hsl(51, 100%, 50%);
  text-transform: uppercase;
  font-weight: bold;
}
.header > nav > a:hover {
  background-color: hsl(51, 100%, 50%);
  color: black;
}

.trees, .tier {
  display: flex;
}

.treeName {
  text-align: center;
  order: 1;
  font-size: 1em;
  line-height: 1.5rem;
}

.tree {
  --themeColor: hsl(var(--themeHue),91%,22%);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0 3.5rem;
  background-image: linear-gradient(0deg, var(--themeColor), var(--themeColor));
  background-size: 100% calc(100% - 1.5rem);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-clip: content-box;
  color: rgba(255,255,255,0.8);
}

.skills {
  position: relative;
  user-select: none;
  height: calc(3.5rem * 7)
}

.skills:before {
  --gradientStop: calc(var(--invested)* 0.7rem + 3.5rem + 1.65rem);
  content: '';
  position: absolute;
  top: 1.85rem;
  bottom: 0;
  left: 0.375rem;
  right: 0.375rem;
  background-image: linear-gradient(
    to bottom,
    hsl(var(--themeHue),91%,30%) calc(var(--gradientStop) - 1rem),
    hsl(var(--themeHue),91%,50%) var(--gradientStop),
    hsl(var(--themeHue),91%,15%) calc(var(--gradientStop) + 1px)
  );
  border: 0.15rem solid hsla(0,0%,0%,0.8);
}

.tier {
  width: calc(3.5rem * 3 + 0.5em);
  justify-content: center;
  position: relative;
}

.green {
  --themeHue: 106;
}
.blue {
  --themeHue: 207;
}
.red {
  --themeHue: 18;
}

a {
  color: inherit;
}
