.nav {
  align-self: stretch;
  justify-content: center;
  background-image: linear-gradient(to bottom, hsla(0,0%,0%,0.8), hsla(0,0%,0%,0));
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.nav a {
  display: inline-block;
  color: inherit;
  padding: 0.5em;
}

.nav a:hover, .nav a:focus {
  background-color: #FED600;
  color: black;
}
